extends layout

block style
    link(rel='stylesheet', href='/stylesheets/advanced_search.css')

block content
    div#recherche.shadow
        div
            i.fas.fa-search
            input(type="search" placeholder="Recherchez un freelancer")
    div
        h1 Top profils
        div.flex.spc_arround
            div.arroweach
                img
            each val in ["Bob Razovski", "Jacques Sullivan", "Germaine"]
                a

                    div.box(style="background-image:url('/images/" + val + ".png');")
                    h2(style="color:white")= val

            div.arrow
                img
        h2 By Programming Language
        div.flex.cats
            each val in ["React.js","Vue.js","Angular.js","node.js","Django","Symfony","Java","GO","C++","C","WebAssembly","ASM"]
                a
                    h2= val
                    div.sepa-h
                    div.cat1(style="background-image:url('/images/lang/" + val + ".png');")
