extends layout

block content
    span
        img.search_icon
        input(type="search" placeholder="Recherchez un freelancer")
    div
        Top profils
        div.arrow
            img
        div.box
        div.box
        div.box
        div.arrow
            img
    div
        div
            div.cat1
            div.cat2
        div
            div.cat2
            div.cat1
        div
            div.cat1
            div.cat2