extends layout

block content
    a.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Bob
            div.message Bonjour qfoih sqfgbqr d hw sfwb.

    div.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Sullivan
            div.message Bonjour qfoih sqfgbqr d hw sfwb osidgo ihrpgoih spighsgo izhrpiz hjpzerigj zepgih zrpgih zp.

    div.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Germaine
            div.message dfvh rzqpoigrh pirejgpr jgpri ghpreigh erpigj repgi"sriqgj "pi jqgpi h

    div.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Bob
            div.message sdpog rpsg pi

    div.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Bob
            div.message sdpog rpsg pi

    div.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Bob
            div.message sdpog rpsg pi

    div.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Bob
            div.message sdpog rpsg pi

    div.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Bob
            div.message sdpog rpsg pi

    div.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Bob
            div.message sdpog rpsg pi

    div.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Bob
            div.message sdpog rpsg pi

    div.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Bob
            div.message sdpog rpsg pi

    div.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Bob
            div.message sdpog rpsg pi

    div.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Bob
            div.message sdpog rpsg pi

    div.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Bob
            div.message sdpog rpsg pi

    div.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Bob
            div.message sdpog rpsg pi

    div.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Bob
            div.message sdpog rpsg pi

    div.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Bob
            div.message sdpog rpsg pi

