extends layout

block content
    div.flex-inline.header.message-block.no-click
        div.photo
            i.fas.fa-user
        h2.
            Jean Michel Olifirenkof
        div.fav_button
            i.fas.fa-star

    .list-mess
        a.message-block.conv.left
            div.content
                div.hour 14:20
                div.message Bonjour.

        a.message-block.conv.right
            div.content
                div.hour 14:21
                div.message Salut.

        a.message-block.conv.right
            div.content
                div.hour 14:25
                div.message sqfohg pqihrgo rihpi hzrogi h.

        a.message-block.conv.left
            div.content
                div.hour 23:30
                div.message Bfghg rgoeihs ershg qfoih sqfgbqr d hw sfwb.

        a.message-block.conv.right
            div.sepa-v
            div.content
                div.hour 23:36
                div.message Bsfoighs roghg ohrreogihso hregoshr qogrh eog hreo hrehw sfwb.
