extends layout

block content
    each message, index in messages
        a.message-block(href="message/" + index)
            div.photo
                i.fas.fa-user
            div.sepa-v
            div.content
                div
                    span.name= message.name
                    span= '  à  ' + message.hour
                div.message= message.lastMsg
