extends layout

block content
    each mission, index in missions
        a.message-block(href="/mission/" + index)
            div.photo
                i.fas.fa-user
            div.sepa-v
            div.content
                div.name= mission.name
                div.message= mission.desc
                div.author= mission.ppl
