extends layout

block content
    a.message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Project 1
            div.message sdoigvjs oihgro hgdrge poghr ofsb
            div.author Georges

    .message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Project 2
            div.message sdoigvjs oihgro hgro hrpogihr pofskuvh rousgh eoghe ohtegoi teoi oghr ofsb
            div.author Martin

    .message-block
        div.photo
            i.fas.fa-user
        div.sepa-v
        div.content
            div.name Project 3
            div.message sdoigvjs oihgro hgro hrpdofhb osifh boithbogihr poghr ofsb
            div.author Daniel

