
.search_icon {

}

.flex {
    display : flex;
    justify-content: center;
}

.flex-inline {
    display : inline-flex;
}

.spc_arround {
    justify-content: space-around;
    justify-items: auto;
}

a {
     text-align: center;
    color: white;
}

.box {
    border-radius: 0.4rem;
    margin: 0.1em;
    text-align: center;
    background: #a4d0edAA;
    border : solid 1px #E7E7E7;
    width: 150px;
    height : 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cats {
    margin-top: 2rem;
    justify-items:baseline;
    flex-flow: row wrap;
}

.cats a {
    border-radius : 0.4rem;
    border : solid 1px #E7E7E7;
    background-color : #71768EAA;
    width: 150px;
    margin : 0.1rem;
    text-align: center;
    color : white;
}

.cat1 {
    border-radius: 0.4rem;

    width: 150px;
    height: 150px;
    margin : 0.1rem;
    display:flex;
    justify-content: center;
    justify-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.cat1 h2 { }

.cat2 {
    background:cornflowerblue;
    width: 150px;
    height: 200px;
}

.arrow {

}