.skills {
    background : white;
    border-radius: 0.4em;
    margin-left: 0 !important;
    overflow-y: auto;
    min-width: 30%;
}

h2 {
    text-align: center;
}

.skill ul { text-decoration: none;}

.skill li { text-decoration: none;}

.bio {
    background : white;
    border-radius: 0.4em;
    margin-right: 0 !important;
    overflow-y: auto;
}

.header {
    display : flex;
    flex-direction : row;
    justify-content: space-between;
    width : 100%;

}
.header * {
    margin : 10px;
}

.bioSkillzbox {
    height : 30%;
}

.advice {
    width : 100%;
    max-height: 40%;
    border-radius: 0.4em;
    background : white;
    overflow-y: auto;
}

.note {
    color : white;
}

.skillbox {
    display : flex;
    flex-direction: column;
    justify-content: space-around;
}

.fav_button i:hover {
    color: #00B7FF;
}

.fav_button i:active {
    color: #647dfb;
}

.message-block {
    margin: 0;
}