@rose : #FC275C;

* {
    font-family: "DejaVu Sans", "SansSerif";
}

body {
    padding: 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url("/images/photo_fond.jpg") center no-repeat;
    background-size: cover;
    background-position: 65% 0;
    height: 90vh;
}

a {
    color: #00B7FF;
}

.shadow {
    text-shadow: #666 0 0 10px;
}

#logo {
    display: block;
    margin: auto;
    width: 12em;
}

#logo-home {
    display: block;
    width: 6em;
    margin-bottom: 2em;
}

#slogan {
    font-size: 3.2em;
    color: white;
    text-align: center;
}

input {
    color: #B2B2B2;
}

#recherche {
    margin: auto;
    background-color: #FFF;
    border-radius: 0.4rem;
    width: 80%;
    color: #B2B2B2;
    overflow: hidden;
}

#recherche div {
    display: flex;
    align-items: center;
}

i {
    display: inline-flex;
    font-size: 2em;
    text-shadow: none;
    padding: 1.5rem;
}

#recherche input {
    display: inline-flex;
    font-size: 1.1rem;
    border: none;
    padding: 1.5rem;
    width: auto;
    min-width: 1em;
}

#recherche button {
    background-color: #FC275C;
    font-size: 1.1rem;
    border: none;
    width: 100%;
    height: 4rem;
    color: #FFF;
}

#recherche button:active {
    background-color: #ce224f;
}

.separation {
    margin: 0 1em;
    border: solid #E7E7E7 1px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #343B5D;
    width: 100%;
}

#navbar div {
    display: inline-flex;
}

#navbar i {
    color: #71768E;
}

#navbar .active i{
    color: #FFF;
}

#navbar a:hover i {
    color: #FFF;
}


.message-block {
    display: flex;
    align-items: center;
    background-color: #FFF;
    border-radius: 0.4em;
    margin: 0.5rem;
}

.message-block .photo {
    padding: 1rem;
}

.message-block .photo i {
    padding: 0.5rem;
    border: solid #c7c7c7 0.2rem;
    border-radius: 50%;
}

.sepa-v {
    height: 4rem;
    border: solid #E7E7E7 1px;
    margin: 1em 0;
}

.sepa-h {
    width: 90%;
    border : solid #E7E7E7 1px;
}

.message-block .content {
    padding: 1rem;
}

.message-block .name {
    font-weight: bold;
    margin-bottom: 0.2em;
}

