@rose : #FC275C;

* {
    font-family: "DejaVu Sans", sans-serif;
}

body {
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url("/images/photo_fond.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 65% 0;
    /*height: 100vh;*/
    width: 100vw;
    /*max-width: 960px;*/
    margin: 0;
}

content {
    height: 83vh;
    margin-bottom: 8vh;
    padding: 0 2vw 2vh;
    overflow-y: auto;
}

.home-content {
    height: 90vh;
}

a {
    color: #00B7FF;
}

.center {
    text-align: center;
}

.sepa-white {
    border-color: #FFF !important;
}

.shadow {
    text-shadow: #666 0 0 10px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    width: 12em;
}

#home {
    display: flex;
    align-items: center;
    height: 3vh;
    /*margin-bottom: 2em;*/
    padding: 2vh 2vw 2vh;
    /*background-color: #71768E;*/
    /*color: #343B5D;*/
}

#home .sepa-v {
    height: 3vh;
    margin: 0 1.5em;
}

#home .name {
    color: #FFF;
    font-size: 1.6em;
    font-weight: bold;
}

#logo-home {
    display: block;
    width: 6em;
}

#slogan {
    font-size: 3.2em;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

input {
    color: #B2B2B2;
    background-color: transparent;
}

#recherche {
    margin: auto;
    background-color: #FFF;
    border-radius: 0.4rem;
    width: 80%;
    color: #B2B2B2;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

#recherche div {
    display: flex;
    align-items: center;
}

i {
    display: inline-flex;
    font-size: 2rem;
    text-shadow: none;
    padding: 1.5rem;
}

#recherche input {
    display: inline-flex;
    font-size: 1.1rem;
    border: none;
    padding: 1.5rem;
    width: 100%;
    min-width: 1em;
}

#recherche button {
    background-color: #FC275C;
    font-size: 1.1rem;
    border: none;
    width: 100%;
    height: 4rem;
    color: #FFF;
}

#recherche button:active {
    background-color: #ce224f;
}

.separation {
    margin: 0 1em;
    border: solid #E7E7E7 1px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #343B5D;
    width: 100%;
    height: 8vh;
}

#navbar div {
    display: inline-flex;
}

#navbar i {
    color: #71768E;
    font-size: 4vh;
    text-shadow: none;
    padding: 2vh 0;

}

#navbar .active i {
    color: #FFF;
}

#navbar a:hover i {
    color: #FFF;
}

.message-block {
    display: flex;
    color: #000;
    text-decoration: none;
    align-items: center;
    background-color: #FFF;
    border-radius: 0.4em;
    margin-bottom: 0.5rem;
}

.message-block:hover {
    background-color: #EEE;
}

.no-click:hover {
    background-color: #FFF;
}

.message-block .photo {
    padding: 1rem;
}

.message-block .photo i {
    padding: 0.5rem;
    border: solid #c7c7c7 0.2rem;
    border-radius: 50%;
    height: 100%;
}

.sepa-v {
    height: 4rem;
    border: solid #E7E7E7 1px;
    margin: 1em 0;
}

.sepa-h {
    width: 90%;
    border: solid #E7E7E7 1px;
}

.message-block .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
}

.message-block .name {
    font-weight: bold;
    margin-bottom: 0.2em;
}

.message-block .author {

    text-align: right;
    font-style: italic;
    margin-top: 0.2rem;
    align-self: flex-end;
}

.list-mess {
    display: flex;
    margin-bottom: calc(5.2rem + 2vh);
    width: 100%;
    flex-direction: column;
}

.conv {
    width: 70%;
}

.conv.right {
    align-self: flex-end;
    background-color: #F4FF81;
}

.conv.left {
    width: 70%;
    background-color: #A7FFEB;
}

.conv .hour {
    font-weight: bold;
    margin-top: 0.3em;
    align-self: flex-end;
    color: #6D7F8F;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 1em 0;
}

.fav_button i:hover {
    color: #00B7FF;
}

.fav_button i:active {
    color: #647dfb;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fixed-send {
    position: fixed;
    bottom: 10vh;
    /*left: 0;*/
    width: 100vw;
    /*max-width: 960px;*/
    margin-left: -2vw;
}

#send {
    margin: 0 2vw;
    background-color: #FFF;
    border-radius: 0.4rem;
    /*color: #B2B2B2;*/
    overflow: hidden;
    display: flex;
}

#send textarea {
    display: block;
    border: none;
    padding: 1rem;
    width: 100%;
    min-width: 1em;
}

#send button {
    background-color: #FC275C;
    font-size: 1.1rem;
    border: none;
    color: #FFF;
}

#send button:active {
    background-color: #ce224f;
}

/*.list-mess {
    height: 70vh;
    max-height: 70vh;
    overflow-y: scroll;
}*/
